{% extends 'base.html' %} {% block title %} Home User {% endblock %} {% block
content %}

<div class="container">
  <h1>Posts Registrados</h1>

  <!-- POST DE MODA -->
  {% for Moda in postModa | reverse %}
  <h2>Posts sobre la Moda</h2>
  <tr>
    <td>
      <h5>{{Moda.title}}</h5>
      <h5>{{Moda.url}}</h5>
      <!-- safe nos ayuda a limpiar el contenido que enviamos en ckeditor logrando mostrar el contenido correctamente -->
      <h4>{{Moda.desc | safe}}</h4>

      <td>
          <a
            href="#"
            class="btn btn-info btn-sm"
            >Editar</a
          >
        </td>
        <td>
          <a
            href="#"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>

    </td>
  </tr>

  {% endfor %}

  <!-- POST DE CORTES -->
  {% for Cortes in posCortes | reverse %}
  <h2>Post sobre los Cortes de cabello</h2>
  <tr>
    <td>
      <h5>{{Cortes.title}}</h5>
      <h5>{{Cortes.url}}</h5>
      <!-- safe nos ayuda a limpiar el contenido que enviamos en ckeditor logrando mostrar el contenido correctamente -->
      <h4>{{Cortes.desc | safe}}</h4>

      <td>
          <a
            href="{{url_for('postcortes.update', id = Cortes.id)}}"
            class="btn btn-info btn-sm"
            >Editar</a
          >
        </td>
        <td>
          <a
            href="{{url_for('postcortes.delete', id = Cortes.id)}}"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>

    </td>
  </tr>

  {% endfor %}

  <!-- POST DE TEMPORADAS -->
  {% for Temporada in posTemporadas | reverse %}
  <h2>Post sobre las temporadas</h2>
  <tr>
    <td>
      <h5>{{Temporada.title}}</h5>
      <h5>{{Temporada.url}}</h5>
      <!-- safe nos ayuda a limpiar el contenido que enviamos en ckeditor logrando mostrar el contenido correctamente -->
      <h4>{{Temporada.desc | safe}}</h4>

      <td>
          <a
            href="#"
            class="btn btn-info btn-sm"
            >Editar</a
          >
        </td>
        <td>
          <a
            href="#"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>

    </td>
  </tr>

  {% endfor %} {% endblock %}
</div>
