{% extends 'base.html' %} {% block content %}

<div class="container">
  <h3>{% block title %} Actualizar Post sobre la Moda {% endblock %}</h3>
  <form action="" method="POST">
    <label for="title">Titulo: </label>
    <input
      type="text"
      name="title"
      id="title"
      required
      value="{{post_moda.title}}"
    />
    <label for="url">Url: </label>
    <input type="text" name="url" id="url" required value="{{post_moda.url}}" />
    <label for="desc">Contenido: </label>
    <!-- CARGAR CKEDITOR -->
    {{ ckeditor.create(value=post_moda.desc) }}
    <br />
    <input type="submit" value="Actualizar Post" />
    <div class="form-group">
      <a href="{{url_for('post.post')}}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
